@import "../../../../utils/constants/colors.css";

.colorMain {
  color: var(--main);
}

.smallFont {
  font-size: large;
}

.logos {
  padding-top: 50px;
}

.col {
  padding-top: 30px;
}
.avatar {
  display: flex;
  justify-content: center;
}

.img {
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: var(--second);
}

.link:hover {
  text-decoration: none;
  color: var(--second);
}

.btn {
  background-color: var(--main);
  border-color: var(--main);
  color: var(--second);
  font-size: large;
}

.btn:hover {
  background-color: var(--secmain);
  border-color: var(--secmain);
  color: var(--second);
}
